<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
     <h1>update</h1>
        <form action="/posts/{{post.id}}/update/">Title: </Title>
        <input type="text" id="title" value="{{post.title}}" name="title">

        <label for="title">Content: </label>
        <input type="text" id="content" value="{{post.content}}" name="content">

        <input type="submit">
    </form>
</body>
</html>